# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

PhotoAlbum/photo-album-web/dist
PhotoAlbum/photo-album-web/node_modules
PhotoAlbum/photo-album-web/.angular
PhotoAlbum/photo-album-web/.idea
PhotoAlbum/photo-album-web/.vs
PhotoAlbum/photo-album-api/build
PhotoAlbum/photo-album-api/.idea
PhotoAlbum/photo-album-api/.gradle

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
